{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "extends": ["prettier", "eslint:recommended", "plugin:import/recommended"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "import/order": [2, { "alphabetize": { "order": "asc" } }]
  }
}
