html {
  height: 100%;
  margin: 0;
  padding: 0;
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(216, 216, 216);
}

.section-map {
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.section-serchMap {
  margin-top: 20px;
}

.section-routeMap {
  height: 55%;
  width: 80%;
}

.section-userpostMap {
  height: 80%;
}
