hr {
  margin-top: 20px;
}

.btn {
  margin-right: 50px;
}

.form-check-input {
  padding: 15px 30px;
}

.form-check-label {
  margin-left: 20px;
  font-size: 22px;
}

.form-control-color {
  width: 6rem !important;
}

.input-data {
  display: flex;
  justify-content: space-between;
}

.set-color-button {
  margin-right: 40px;
}

.settingsMain {
  margin-top: 30px;
}

.push-box {
  display: flex;
}
