hr {
  margin-top: 20px;
}
section {
  margin-top: 20px;
  margin-bottom: 50px;
}

.btn {
  margin-right: 50px;
}

.form-check-input {
  padding: 15px 30px;
}

.form-check-label {
  margin-left: 20px;
  font-size: 22px;
}

.test-notification-button {
  margin-left: 100px;
}

.form-control-color {
  width: 6rem !important;
}

.input-data {
  display: flex;
  justify-content: space-between;
}

.set-color-button {
  margin-right: 40px;
}
